spring:
  application:
    name: eureka-server
server:
  port: 8081

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    serviceUrl:
      defaultZone: http://localhost:${server.port}/eureka/
